<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expense tracker</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="dashboard.css" rel="stylesheet">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="factory/incomeFactory.js"></script>
    <script src="controller/main.controller.js"></script>


  </head>

  <body>
    <div ng-app="myApp">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Expense Tracker</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li value="show Income" ng-click="IsVisible=true"><a>Income</a></li>
            <li value="show Expense" ng-click="IsVisible=false"><a>Expenses</a></li>
            <li value="show Expense" ng-click="IsVisible=false"><a>Add New</a></li>
            <li value="show Report" ng-click="showReport()"><a>Report</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Result</h1>
          <div ng-controller="ExampleController">
            <form novalidate class="css-form">

             <table class="table table-bordered">
               <tr>
                 <td>
              Transaction Id:
            </td>
              <td>
                <input style="max-width:200px;display: inline-flex;" class="form-control" ng-model="user.id" required />
            </td>
          </tr>
          <tr>
            <td>
              Name of the payer: </td>
               <td>
                 <input style="max-width:200px;display: inline-flex;" class="form-control" ng-model="user.payer" required />
            </td>
          </tr>
          <tr>
            <td>
              Name of the payee:
            </td>
             <td>
              <input style="max-width:200px;display: inline-flex;" class="form-control" ng-model="user.payee" required />
            </td>
          </tr>
          <tr>
            <td>
              Type:
            </td>

                    <td>  <input type="radio" ng-model="user.type" value="income" />Income
                          <input type="radio" ng-model="user.type" value="expenses" />Expenses</td>

                  </tr>
                  <tr>
                    <td>
              Category: </td>
               <td><select style="max-width:200px;display: inline-flex;margin-top:10px;" class="form-control" ng-model="user.category">
            <option ng-if="user.type=='income'" value="salary">salary</option>
            <option ng-if="user.type=='income'" value="business">business</option>
            <option ng-if="user.type=='expenses'" value="HomeIntrest">Home Intrest</option>
            <option ng-if="user.type=='expenses'" value="shopping">shopping</option>
                </select>
              </td>
            </tr>
              <tr>
                <td>
              Date: </td> <td><input style="max-width:200px;display: inline-flex;" class="form-control" ng-model="user.date" required />
          </td>
              </tr>
            <tr>
              <td>
              Amount:  </td> <td>
                <input style="max-width:200px;display: inline-flex;" class="form-control" ng-model="user.amount" required />
            </td>
          </tr>
          <tr>
            <td>
              Payment Mode: </td><td> <select style="max-width:200px;display: inline-flex;margin-top:10px;" class="form-control" ng-model="user.payment">
            <option value="cash">cash</option>
            <option value="check">check</option>
            <option value="card">Card </option>
                </select>
              </td>
            </tr>
            <tr>
              <td>
            <input type="submit" ng-click="add(user)" value="submit" />
          </td>
        </tr>
          </table>
          </div>
        </div>
      </div>
    </div>
</div>
  </body>
</html>
