<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Expense tracker</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="dashboard.css" rel="stylesheet">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>

  <body>
    <div ng-app="myApp" ng-controller="myControl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Expense Tracker</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li value="show Income" ng-click="IsVisible=true"><a>Income</a></li>
            <li value="show Expense" ng-click="IsVisible=false"><a>Expenses</a></li>
            <li value="show Report" ng-click="showReport()"><a>Report</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Result</h1>

          <div ng-show="IsVisible" class="col-xs-12">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <td>  Name   </td>
                  <td>  Income </td>
                  <td>  sources</td>
                </tr>
                <tr ng-repeat="incomeData in incomeData ">
                <td>{{incomeData.name}}</td>
                <td>{{incomeData.income}}</td>
                <td>{{incomeData.sources}}</td>
                </tr>
                </thead>
            </table>
          </div>

          <div ng-hide="IsVisible">
            <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <td>  Name  </td>
                    <td>  HRA   </td>
                    <td>  LTA   </td>
                    <td>  Medical </td>
                    <td>  Party </td>
                  </tr>
              <tr ng-repeat="expenseData in expenseData">
                <td>{{expenseData.name}}</td>
                <td>{{expenseData.hra}}</td>
                <td>{{expenseData.lta}}</td>
                <td>{{expenseData.medical}}</td>
                <td>{{expenseData.party}}</td>
              </tr>
            </thead>
          </table>
          </div>

        </div>
      </div>
    </div>
</div>
  </body>
</html>
