<div>
  <h1>Expenses</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>TransactionID</td>
        <td>Payer</td>
        <td>payee</td>
        <td>Type</td>
        <td>Category</td>
        <td>date</td>
        <td>amount</td>
        <td>ModeofPayment</td>
      </tr>
      <tr ng-repeat="person in expenseData">
        <td>{{person.transactionId}}</td>
        <td>
          <div ng-hide="editingData[person.transactionId]">{{person.payer}}</div>
          <div ng-show="editingData[person.transactionId]">
            <input type="text" ng-model="person.payer" />
          </div>
        </td>
        <td>
          <div ng-hide="editingData[person.transactionId]">{{person.payee}}</div>
          <div ng-show="editingData[person.transactionId]">
            <input type="text" ng-model="person.payee" />
          </div>
        </td>
        <td>
          <div ng-hide="editingData[person.transactionId]">{{person.type}}</div>
          <div ng-show="editingData[person.transactionId]">
            <input type="text" ng-model="person.type" />
          </div>
        </td>
        <td>
          <div ng-hide="editingData[person.transactionId]">{{person.category}}</div>
          <div ng-show="editingData[person.transactionId]">
            <input type="text" ng-model="person.category" />
          </div>
        </td>
        <td>
          <div ng-hide="editingData[person.transactionId]">{{person.date}}</div>
          <div ng-show="editingData[person.transactionId]">
            <input type="text" ng-model="person.date" />
          </div>
        </td>

        <td>
          <div ng-hide="editingData[person.transactionId]">{{person.Amount}}</div>
          <div ng-show="editingData[person.transactionId]">
            <input type="text" ng-model="person.Amount" />
          </div>
        </td>

        <td>
          <div ng-hide="editingData[person.transactionId]">{{person.ModeofPayment}}</div>
          <div ng-show="editingData[person.transactionId]">
            <input type="text" ng-model="person.ModeofPayment" />
          </div>
        </td>



        <td>
          <button ng-hide="editingData[person.transactionId]" type="button" value="btn1" ng-click="modify(person)">modify</button>
          <button ng-show="editingData[person.transactionId]" type="button" value="btn2" ng-click="update(person)">update</button>
        </td>
        <td>
          <button type="button" value="btn2" ng-click="delete(person)">Delete</button>
        </td>
      </tr>
    </thead>
  </table>

</div>
